* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Dosis', sans-serif;
    color: #fff;
}
header {
    background-image: url('../img/circuit.jpg');
    height: 48vh;
    background-repeat: no-repeat;
    background-size: cover;
}

header h1 {
    color: #fff;
}


